<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Example</title>
</head>
<body>

    <h1>青岛市博物馆</h1>

    <p>青岛市博物馆（Qingdao Museum）是中国山东省青岛市的一座博物馆，位于青岛市区的馆驿街，紧邻五四广场和青岛市政府大楼。青岛市博物馆是一座以自然与人文为主题，集藏品陈列、科研、宣传、教育为一体的综合性博物馆。</p>

    <!-- 第一张图片 -->
    <img src="e:/code/vis/final/word.png" alt="Image 1" width="300">

    <!-- 第二张图片 -->
    <img src="e:/code/vis/final/zhu.png" alt="Image 2" width="300">

    <p>abc啊啊啊</p>

</body>
</html>
